.header {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.header .inner-logo img {
  max-width: 50px;
}

.header .inner-menu > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.header .inner-menu > ul > li {
  margin-left: 20px;
}
/* footer */
.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
/* box-head */
.box-head {
  margin-bottom: 30px;
}
.box-head .inner-title {
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 600;
  color: green;
}
/* end box head */

/* product-item */
.product-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}
.product-item .inner-image {
  width: 100%;
  aspect-ratio: 4/3;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.product-item .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-item .inner-featured {
  position: absolute;
  top: 0;
  left: 0;
  background: green;
  color: white;
  padding: 3px 6px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
}

.product-item .inner-content {
  padding: 15px;
}
.product-item .inner-content .inner-title {
  font-size: 20px;
  font-weight: 600;
}
.product-item .inner-content .inner-price-new {
  font-size: 18px;
  font-weight: 600;
  color: green;
}
.product-item .inner-content .inner-price-old {
  font-size: 16px;
  text-decoration: line-through;
  color: red;
  font-weight: 600;
}
.product-item .inner-content .inner-discount {
  font-size: 14px;
  font-weight: 600;
  color: white;
  background: red;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 8px;
}
/* end product-item */

/* Show alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  background-color: #ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}
/* End show alert */
/* Image preview */
.image-preview {
  width: 150px;
  height: auto;
  margin-top: 15px;
  border: 1px solid;
  padding: 15px;
  border-radius: 5px;
}

.image-preview[src=""] {
  display: none;
}

.button-delete {
  display: none;
}
/* End Image preview */
/* sub-menu */

.sub-menu {
  position: relative;
  z-index: 999;
}
.sub-menu ul {
  position: absolute;
  right: 0;
  top: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #eaeaea;
  min-width: 180px;
  display: none;
}

.sub-menu ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.sub-menu:hover > ul {
  display: block;
}
.sub-menu ul li {
  position: relative;
}
.sub-menu ul li ul {
  right: 100%;
  top: 0;
}
.sub-menu ul li:hover > ul {
  display: block;
}
/* End Sub-menu */
/*  */
/* product-detail */
.product-detail .inner-thumb img {
  width: 100%;
  height: auto;
}
.product-detail .inner-title {
  font-size: 32px;
  margin-bottom: 15px;
}

.product-detail .inner-category {
  margin-bottom: 10px;
}

.product-detail .inner-price-new {
  color: green;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}
.product-detail .inner-price-old {
  text-decoration: line-through;
  color: red;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}
.product-detail .inner-percent {
  margin-bottom: 10px;
}
.product-detail .inner-percent span {
  background: red;
  color: white;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 8px;
}
.product-detail .inner-description {
  margin-bottom: 10px;
}
.product-detail .inner-stock span {
  color: #fff;
  background-color: green;
  font-weight: 600;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 8px;
}
/* End product detail */
/* Chat */

/* End chat */
