.sider 
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboardDel`) Tổng quan trash
            li
                a(href=`${prefixAdmin}/productsDel`) Sản phẩm bị xóa  